@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');*{
    padding: 0;
    margin: 0;
}
body{
   background-color: #161616;
   user-select: none;
   /* transition: margin-right .3s ease-in-out; */
}
/* scrollbar style */
::-webkit-scrollbar{
    width: 10px;
    background-color: #dad1d1;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    
   background-color: #6C63FF;
}
button{
    cursor: pointer;
}
#home{
    background-color: #2B2A2A;
    border: none;
    color: #d7d1d1;
    font-size: 19px;
}
#home:hover{
    color: white;

}
/* dont write style body or any universal tags 
write style for unique ones as every page has 
one css file linked */

.list.active{
    /* border: 2px solid #6C63FF;
    padding: 5px;
    border-radius: 5px; */
    background-color: #6C63FF;
    border-radius: 5px;
    padding: 8px 10px;
}
li a{
    text-decoration: none;
    color: #d7d1d1;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 16px;
}
ul li{
    list-style: none;
    padding: 0 10px 0 10px;
}
li a::after{
    content: '';
    width: 0;
    height: 2.5px;
    background-color: #6C63FF;
    margin: .7px;
    display: block;
    
}
a{
    font-family: sans-serif;
}
a:hover{
    color: white;
}
li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;

}
.nav h2{
    padding: 0 50px;
    margin: 10px ;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #2B2A2A;
    /* display: none; */
    /* margin-right: 25%; */
    position: fixed;
    font-weight: 600;
    /* transition: width .3s ease-in-out; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* font-family: BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
/* main style consists of timer and notes */
.main{
    display: flex;
    justify-content: center;
}

/* timer style */
.pomodoro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding: 10px 0 10px 0; */

}
.circle{
    height: 270px;
    width: 270px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2B2A2A;
    margin: 15px;
    filter: drop-shadow(0 0 0.75rem #736ed5);

}
.controls{
    width: 200px;
    height: 40px;
    background-color: #2B2A2A;
    position: relative;
    margin: 35px;
    border-radius: 30px;
}
.controls button{
    color: white;
    position: absolute;
    background-color: transparent;
    right: 0;
    font-size: 20px;
    margin-top: 3px;
    padding-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    left: 0;
    margin-right: 120px;
    padding-left: 30px;
}
#stop{
    padding-right: 20px;
}
.toggle{
    width: 100px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    left: 0;
    border-radius: 30px;
    background-color: #6C63FF;
    transition: left .5s ease-in-out;
}
/* .toggle .active{
    background-color: #2B2A2A;
} */
#work-timer,#break-timer{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.timer p{
    color: #ffffff;
}
#work_minutes,#work_seconds,#semicolon,#break_minutes,#break_seconds{
    font-size: 60px;
}
.wt,.bt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.active{
    display: block;
}
.work,.break{
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    padding: 5px 10px 5px 10px;
    border: none;
}
#reset{
    color: #6C63FF;
    font-size: 35px;
    margin: 15px 0 25px 0;
}

/* music-player style */
/* music-player style */

.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-controls{
    position: absolute;
    bottom: 50px;
}
.music-controls i{
    font-size: 35px;
    padding: 0 20px 0 20px ;
    color: #6C63FF;
    transition: .1s ease-in-out;
    filter: drop-shadow(6px,5px,5px);
    
}
#play{
    font-size: 55px;
    transition: .1s ease-in-out;
    /* background: white; */
}
#m_text{
    display: none;
}
/* style to plus button for adding notes  */
.plus_note{
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 30px;
    right: 40px;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in;
} 
.plus_note:hover,#plus,#play:hover,#prev:hover,#next:hover{
    /* hover effect for plus button */
    transform: scale(1.1);
    color: white;

}
.plus{
    color: #d7d1d1;
    transition: .2s ease-in;
    background-color: #6C63FF;
    border: none;
    padding: 10px;
    font-size: 30px;
    border-radius: 7px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* notes style */
.notes-div{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: scroll;
    display: none;
    overflow-x: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.active{
    display: block;
    transition: width 1s ease-in-out;

}
.notes-header{
    background-color: #2B2A2A;
    color: white;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}
.notes-nav{
    position: absolute;
    right: 20px;
}
.notes-nav i{
    padding: 7px;
}
#x-mark{
    font-size: 18.6px;
    font-weight: 501;
    transition: background-color 3s ease-in;

}

#x-mark:hover{
    color: rgb(245, 129, 97);
}
#arrow{
    transition: background-color .3s ease;
    transition: border-radius 5ms ease-in-out;
}
#arrow:hover{
    border-radius: 50%;
    background-color: #424244;
    color: white;
}
.notes-header #co{
    font-size: 14px;
}
.notes-header #head{
    font-size: 22px;
}
.notes-main{
    background-color: #2B2A2A;
}
.notes-stack{
    height: 100%;
    width: 88%;
    background-color: white;

}
#add-note{
    border: none;
    color: #d7d1d1;
    font-size: 17.5px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    width: 94%;
    height: 40px;
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
    background-color: #2B2A2A;
}
#add-note:hover{
   color: white;
}
#sharp-plus{
    padding: 10px;
    font-size: 17px;
}
.before{
    width: 100%;
    height: 30px;

}
/* style for note */

/* .one-note{
    width: 88%;
    height: 130px;
    padding: 10px;
    margin: 3px 10px 3px 10px;
    border-radius: 5px;
    background-color: rgb(235, 228, 228);
} */
textarea{
    outline: none;
    border: 1px solid rgb(53, 51, 51);
    width: 88%;
    height: 130px;
    padding: 10px;
    font-size: 18px;
    resize: none; margin: 3px 10px 3px 10px;
    border-radius: 5px;
    background-color: #2B2A2A;
    color: white;
}



/* style for contact and about us */
   footer{
     width: 100%;
     height: 700px;
     background-color: #2B2A2A;
     margin-top: 70px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   footer i{
     font-size: 20px;
     color: white;
     padding: 20px;
   }
   .last{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     
   }
   .last .pic{
     margin-left: 40px;
   }
   
   
   
   .endlines{
     padding: 10px;
     margin-right: 50px;
     margin-left: 200px;
   }
   .endlines p{
     display: inline;
   }
   .endlines button{
     position: absolute;
     bottom: 200px;
   }
   
   
   .handles{
     padding-top: 70px;
   }
   .handles i{
     font-size: 26px;
     transition: .2s ease-in-out;
     border-radius: 50%;
     padding: 10px;
     margin: 10px;
     box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   }
   .handles i:hover{
     transform: scale(1.2);
   }