@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #161616;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #dad1d1;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    
   background-color: #6C63FF;
}
button{
    cursor: pointer;
}
.li{
    text-decoration: none;
    color: #d7d1d1;
    transition: .3s ease-in;
}
.active{
    color: white;
    text-underline-position: below;

}
#home{
    background-color: #2B2A2A;
    border: none;
    color: #d7d1d1;
    font-size: 19px;
}
#home:hover{
    color: white;

}
/* dont write style body or any universal tags 
write style for unique ones as every page has 
one css file linked */
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 18px;
}
ul li{
    list-style: none;
    padding: 0 10px 0 10px;
}
a:hover{
    color: white;
    
}
.nav h2{
    padding: 0 50px;
    margin: 10px ;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #2B2A2A;
    /* display: none; */
    /* margin-right: 25%; */
    position: fixed;
    font-weight: 600;
    /* transition: width .3s ease-in-out; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* font-family: BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.all-notes{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
textarea{
    outline: none;
    border: 1px solid rgb(53, 51, 51);
    width: 280px;
    height: 230px;
    padding: 10px;
    font-size: 18px;
    resize: none; margin: 3px 10px 3px 10px;
    border-radius: 10px;
    background-color: #2B2A2A;
    color: white;
    margin: 10px 10px;
}