#main{
    display: flex;
    padding: 5px 0;
}

#all-settings{
    width: max-content;
    display: flex;
    flex-direction: column;
}

#music-settings{
    border-radius: 0 20px 0 0;
    padding: 10px;
}

#timer-settings{
    border-radius: 0 0 20px 0;
    padding: 10px;
}

.settings{
    background-color: rgb(0, 0, 0);
}

/* .settings :hover{
    background-color: rgb(80, 80, 80);
} */